<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.notice.member.service.MemberMapper">
	<select id = "memberSelectList" resultType = "co.micol.notice.member.service.MemberVO">
		SELECT * FROM member
	</select>
	<select id = "memberSelect" resultType = "co.micol.notice.member.service.MemberVO">
		SELECT * FROM member
		WHERE member_id = #{memberId}
		<!-- pw까지 넘어오면 여기 수행. 하나의 select문으로 2가지 역할(멤버 한명 가져오기, 로그인기능) -->
		<!--  <if test="memberPw != null">
			AND MEMBER_PW = #{memberPw}
		</if>-->
	</select>
	<insert id = "memberInsert">
		INSERT INTO member
		VALUES(#{memberId}, #{memberPw}, #{memberName},#{memberAge},#{memberTel},#{memberGender})
	</insert>
	<update id = "memberUpdate"></update>
	<delete id = "memberDelete"></delete>
	<select id = "memberLogin" resultType = "co.micol.notice.member.service.MemberVO">
		SELECT * FROM member
		WHERE member_id = #{memberId} AND member_pw = #{memberPw}
	</select>

</mapper>